<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Hakkımızda<br></h2>
        <p><span>Bizim Hakkımızda<span> <span class="description-title">Daha Fazlasını Öğrenin</span></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <img src="assets/img/about.jpg" class="img-fluid mb-4" alt="">
                <div class="book-a-table">
                    <h3>Rezervasyon Yapın</h3>
                    <p>+1 5589 55488 55</p>
                </div>
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        Restoranımızın öne çıkan özelliklerini keşfedin. Kaliteli hizmet anlayışımız, lezzetli menümüz ve sıcak atmosferimizle sizlere keyifli bir deneyim sunuyoruz.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Kaliteli malzemelerle hazırlanan menü.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Konforlu ve ferah bir ortam.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Deneyimli şeflerimizden eşsiz lezzetler.</span></li>
                    </ul>
                    <p>
                        Her damak zevkine hitap eden menümüzle, Yummy’de sadece yemek değil, keyifli anılar da paylaşırsınız.
                        Sizi lezzet dolu bir deneyime davet ediyoruz.
                    </p>

                    <div class="position-relative mt-6">
                        <img src="assets/img/about-2.jpg" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>