<footer id="footer" class="footer dark-background">

	<div class="container">
		<div class="row gy-3">
			<div class="col-lg-3 col-md-6 d-flex">
				<i class="bi bi-geo-alt icon"></i>
				<div class="address">
					<h4>Adres</h4>
					<p>Yılmaz Mahallesi Demir Sokak</p>
					<p>Tuzla / İstanbul</p>
					<p></p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 d-flex">
				<i class="bi bi-telephone icon"></i>
				<div>
					<h4>İletişim</h4>
					<p>
						<strong>Telefon:</strong> <span>+90 589 588 55 43</span><br>
						<strong>E-posta:</strong> <span>info@yummyfood.com</span><br>
					</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 d-flex">
				<i class="bi bi-clock icon"></i>
				<div>
					<h4>Çalışma Saatleri</h4>
					<p>
						<strong>Pzt-Cmt:</strong> <span>09:00 - 21:00</span><br>
						<strong>Pazar</strong>: <span>Kapalı</span>
					</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<h4>Bizi Takip Edin</h4>
				<div class="social-links d-flex">
					<a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
					<a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
					<a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
					<a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
				</div>
			</div>

		</div>
	</div>

	<div class="container copyright text-center mt-4">
		<p>© <span>Copyright</span> <strong class="px-1 sitename">Yummy</strong> <span>All Rights Reserved</span></p>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you've purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
			Designed by <a href="">Cem Asv</a>
		</div>
	</div>

</footer>