<section id="why-us" class="why-us section light-background">

	<div class="container">

		<div class="row gy-4">

			<div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
				<div class="why-box">
					<h3>Neden Yummy Seçilmeli ?</h3>
					<p>
						Yummy’de her tabak, taze malzemelerin özenle seçildiği ve ustalıkla hazırlandığı bir lezzet yolculuğudur.
						Modern sunumumuz, samimi atmosferimiz ve güleryüzlü ekibimizle yemek yemeyi keyifli bir deneyime dönüştürüyoruz.
					</p>
					<div class="text-center">
						<a href="#" class="more-btn"><span>Daha Fazla</span> <i class="bi bi-chevron-right"></i></a>
					</div>
				</div>
			</div><!-- End Why Box -->

			<div class="col-lg-8 d-flex align-items-stretch">
				<div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

					<div class="col-xl-4">
						<div class="icon-box d-flex flex-column justify-content-center align-items-center">
							<i class="bi bi-clipboard-data"></i>
							<h4>Taze ve Lezzetli Tatlar</h4>
							<p>
								Her gün özenle seçilen malzemelerle hazırlanan menülerimiz, doğallığı ve tazeliği bir arada sunar.
							</p>
						</div>
					</div><!-- End Icon Box -->

					<div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
						<div class="icon-box d-flex flex-column justify-content-center align-items-center">
							<i class="bi bi-gem"></i>
							<h4>Usta Şeflerin Dokunuşu</h4>
							<p>Deneyimli mutfak ekibimiz, her tarife özgün bir yorum katarak eşsiz lezzetler yaratır.</p>
						</div>
					</div><!-- End Icon Box -->

					<div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
						<div class="icon-box d-flex flex-column justify-content-center align-items-center">
							<i class="bi bi-inboxes"></i>
							<h4>Sıcak ve Huzurlu Ortam</h4>
							<p>Yummy’de yemek, sadece lezzet değil; keyifli bir atmosferde geçirilen güzel anların da adresidir.</p>
						</div>
					</div><!-- End Icon Box -->

				</div>
			</div>

		</div>

	</div>

</section>